


@media only screen and (max-width: 1400px) {

    /* TEXT IN ABOUT SECTION */
    .about__content--right {
        font-size: 24px;
        line-height: 1.6em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

    /* HEADER */
    .curtain__wc-span {
        font-size: 40px;
    }

    .curtain__welcome-container {
        font-size: 28px;
    }

    .curtain__li-items {
        font-size: 42px;
        line-height: 1.5em;
    }

    .curtain__sec_col {
        font-size: 28px;
    }

    .header::before {
        width: 60%;
        height: 60%;
        top: 50%;
        left: 45%;
    }

    /*ABOUT SECTION*/
    
    .about::after {
        background: linear-gradient(to left, rgb(255, 255, 255, 0.99) 0%,  rgb(255, 255, 255, 0.9) 50%, rgb(255, 255, 255, 0.2)), url(../img/aboutbg-new.jpg);
        background-size: auto 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    .about__content {
        flex: 1 40%;
    }

    .about__content--right>* {
        font-size: 0.8em;
        padding: 0 0 0 1em;
    }

    .about__content--left {
        padding: 0 2em 0 0;
    }

    /* CERTFICATE SECTION */
    .cert__slider {
        width: 100%;
    }

    /* SKILLS SECTION */
    /* PROJECT SECTION */
    

    .projects__container {
        width: auto;
        margin-left: 2%;
        margin-right: 2%;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.8);
    }

    /* .contact {
        color: rgb(255, 255, 255);
    } */

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    /*HEADER*/
    .header {
        padding: 0 5%;
    }

    .curtain__wc-par {
        font-size: 26px;
    }

    .curtain__wc-span {
        font-size: 32px;
    }

    /*SKILLS SECTION*/
    #skills {
        padding: 40px 5%;
        width: 100%;
    }

    /* ABOUT */
    /* .about__content {
        margin: auto;
    } */

    .about__content--right {
        line-height: 1.4em;
    }

    .about__rotate-div {
        max-width: 350px;
        /* transform: translateY(-50%); */
    }

    .about__my-img {
        max-width: 350px;
        max-height: 100%;
        border: 20px solid white;
    }

    /* CERTIFICATE SECTION */
    .cert__slider {
        max-width: 900px;
    }

    /*CONTACT LINE*/
    .contact hr {
        max-width: 100%;
    }

    /* PROJECT SECTION */


    .projects__container {
        width: auto;
    }

    /* SKILL SECTION */
    .skills-cont__img-icons {
        margin: 0 auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    /*NAVIGATION*/
    .nav {

        transition: all 0.3s linear;
    }

    .topnav__item {
        display: none;
        padding: 0;
    }

    .topnav__item--btn {
        display: block;
        order: -1;
    }

    .topnav__link {
        float: right;
        display: block;
    }

    /* .topnav__link:last-child {
        display: block;
        order: -1;
    } */

    .responsive {
        position: relative;

    }

    .responsive .topnav__item {
        display: block;
    }

    .responsive .topnav__item--color:hover {
        background-color: rgba(34, 34, 34, 0.98);
    }

    .responsive .topnav__link {
        float: none;
        display: block;
        padding: 15px 0 15px 0;
        color: #ffffff;
    }

    .responsive .topnav__link--corner {
        float: right;
        display: inline-block;
        padding: 0;
    }

    .responsive {
        float: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.98);
        padding: 0 3% 10px;
        transition: all .3s;
    }

    .topnav__link:after {
        display: none;
    }

    .responsive .topnav__link:after {
        display: none;
    }

    /*HEADER*/
    .header {
        padding: 0 5%;
    }

    .curtain__name-container {
        position: relative;
        margin-left: 5%;
        display: block;
        flex-direction: column;
        text-align: left;
        font-size: 2.5em;
        top: 12vh;
    }

    .curtain__list {
        left: 0.2em;
        text-align: left;
        left: 0;
    }

    .curtain__figure {
        height: 100%;
    }

    .curtain__figure::before {
        width: 170%;
    }

    .curtain__figure-img {
        width: 90%;
    }

    .curtain__welcome-container {
        position: relative;
        left: 0;
        width: 70%;
        display: block;
        text-align: right;
        top: 70vh;
        margin-right: 5%;
        margin-left: auto;
    }

    .curtain__wc-par>br {
        display: none;
    }

    .curtain__half {
        transition: all 0.8s linear;
    }

    .name-container--mobile {
        display: none;
    }

    /* #header::before{
        width: 85%;
        height: 85%;
    } */
    /*ABOUT SECTION*/
    .about {
        padding: 20px 3% 40px 3%;
    }
    .about::after {
        background: linear-gradient(to top, rgb(255, 255, 255, 0.99) 0%,  rgb(255, 255, 255, 0.97) 40%, rgb(255, 255, 255, 0.2)), url(../img/aboutbg-new.jpg);
        background-size: auto 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    .about__content {
        flex: 1 100%;
    }

    .about__content--right {
        margin-top: 0;
    }

    .about__text {
        font-size: 16px;
        padding: 0;
        line-height: 34px;
        text-align: justify;
    }

    .about__text br {
        display: none;
    }

    .about__content--left {
        padding: 1em 3em 3em 3em;
    }

    /*CERTIFICATE SLIDER SECTION*/
    .cert {
        background: none;
        background-attachment: initial;
    }
    /* CLASS FOR PARRALLAX FOR TWO BG ON PAGE */
    .cert::before {
        content: "";
        position: fixed;
        z-index: -9999;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: url(../img/trees1.jpg) center center no-repeat;
        background-size: cover;
    }

    .cert__slider {
        flex-wrap: wrap;
    }

    .slider__slider-side--img {
        flex: 1 100%;
    }

    .slider__slider-side--article {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 1em 1em 1em;
    }

    .slider__art-list {
        margin: 0.5em 0;
    }

    /*SKILLS SECTION*/
    .skills{
        color: black;
    }
    .skills-cont__img-icons {
        width: 90px;
    }

    .skills__bg {
        position: absolute;
        /* background-size: auto 100%; */
        /* background-position: center; */
        background: linear-gradient(to left, rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url(../img/skills-bg1.jpg);
        background-size: auto 70%;
        background-repeat: no-repeat;
        background-position: 110% center;
        right: 0;
    }

    /* PROJECT SECTION */
    /* .projects {
        background-position: center 110%;
        background-size: auto auto;
    } */
    /* CLASS FOR TWO PARRALLAX BG ON PAGE */
    /* .bg-fixed::after {
        content: "";
        position: fixed;
        z-index: -3;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background: url(../img/forestxc.jpg) center top no-repeat;
        background-size: cover;
    } */

    .card {
        flex-direction: column;
        height: auto;
        padding: 20px 10px;
    }

    .card__about,
    .card__img-project {
        flex: 0 1 100%;
        text-align: center;
    }

    .card__about {
        order: 2;
    }

    .card__img-project {
        order: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 200px;
        width: 100%;
    }

    .card__image {
        width: auto;
        height: 100%;
        max-width: 100%;
    }

    .projects__container__second {
        flex-direction: column;
    }

    .card--short {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .card--short:nth-child(2) {
        margin: 0 0 20px 0;
    }

    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 20px;
    }

    /* HEADER*/
    .header {
        padding: 0;
        display: block;
    }

    /* .curtain__name-container {
        visibility: hidden;
    } */
    .curtain__name-container {
        top: 4%;
        margin: 0;
        display: inline-block;
        height: auto;
        width: 90%;
        text-align: center;
        overflow: visible;
    }

    .curtain__sec_col {
        display: none;
    }

    .curtain__li-items {
        text-align: center;
        margin: 0;
    }

    .curtain__name-container--desktop {
        display: none;
    }

    .name-container--mobile {
        display: inline-block;
    }

    .curtain__figure {
        height: 55vh;
        width: 100%;
        padding-top: 5%;
        top: 48%;
    }

    .curtain__figure::before {
        /* height: 55vh; */
        width: 200%;
    }

    .curtain__figure-img {
        top: 52%;
        height: 100%;
        width: auto;
    }

    /* #header::before{
        width: 90%;
        height: 90%;
        left: 47%;
    } */
    .curtain__welcome-container {
        position: relative;
        top: 90vh;
        transform: translateY(-60%);
        width: 100%;
        height: 150px;
        padding: 0;
        text-align: left;
    }

    .curtain__wc-par {
        display: none;
    }

    /* #header #welcome-container p,
    #header #welcome-container span{
        font-size: 17px;
        line-height: 30px;
    }
    #header #welcome-container span{
        font-size: 28px;
    } */
    .click-btn {
        position: relative;
        visibility: visible;
        display: inline-block;
        height: 60px;
        width: 60px;
        margin: 20% 0 0 0;
        animation: click 1.2s linear infinite;
        text-align: left;
        /* transition: all 1.5s; */
    }

    .click-btn img {
        width: 100%;
        height: auto;
    }

    @keyframes click {
        0% {
            height: 50px;
            width: 50px;
            margin: 20% 0 0 0;
        }

        50% {
            height: 55px;
            width: 55px;
            margin: 23% 0 0 1%;
        }

        100% {
            height: 50px;
            width: 50px;
            margin: 20% 0 0 0;
        }
    }

    /*ABOUT SECTION*/
    .about {
        padding: 40px 3% 60px 3%;
        height: auto;
    }

    .about__content {
        flex: 1 100%;
    }

    .about__text {
        font-size: 16px;
        padding: 0;
        line-height: 26px;
        text-align: justify;
    }

    .about__text br {
        display: none;
    }

    .about__content--left {
        padding: 1em 3em 3em 3em;
    }

    .about__hidden-images {
        width: 100%;
        height: 95px;
    }

    .skills-cont__par {
        font-size: 17px;
    }

    /* CERT */
    .cert__slider {
        padding: 5% 5%;
        height: auto;
    }

    .slider-art__header {
        font-size: 20px;
    }

    .slider-art__par {
        font-size: 17px;
        line-height: 26px;
    }

    .slider__slider-side--img {
        margin-top: 40px;
    }

    /*SKILL SECTION*/
    .skills-cont__img-icons {
        width: 60px;
    }

    .skills-cont__row {
        padding: 0;
        margin: 0;
        flex: 1 100%;
        height: auto;
        font-size: 0.8em;
    }

    .skills-cont__lineone {
        margin-bottom: 5px;
    }

    /* PROJECT SECTION */
    .projects {
        padding: 20px 0 0 0;
    }
    .projects hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* CONTACT SECTION */
    /* .contact {
        background-size: 140% 40%, 110% 50%;
    } */
}

@media only screen and (max-width : 350px) {
    .curtain {
        width: 100%;
        /* overflow: hidden; */
        /* box-shadow: none; */
    }

    .curtain__wc-par,
    .curtain__wc-span {
        font-size: 18px;
        line-height: 28px;
    }

    .curtain__wc-span {
        font-size: 20px;
    }

    .skills-cont__img-icons {
        width: 50px;
    }
}