/* viariables */
:root {
    --main-color: rgb(21, 194, 107);
}

/*-----------------main style*/
@font-face {
    font-family: "Comfortaa";
    src: url(../css/fonts/Comfortaa-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(../css/fonts/Comfortaa-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(../css/fonts/Comfortaa-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #2e3d49;
    /*background-color: #343840;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Rock Salt', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    /* font-family: 'Open Sans', sans-serif; */
    font-family: "Comfortaa", sans-serif;

    text-decoration: none;
    /* background: -moz-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(23%, rgba(250, 250, 250, 1)), color-stop(79%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(to right, rgb(238, 236, 236) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    -webkit-font-smoothing: antialiased; */
}

h2 {
    font-size: 2.5em;
    margin: 1em;
    margin-bottom: 2em;
    padding: 0;
    letter-spacing: 2px;
    font-weight: 500;
}

h2::first-letter {
    color: var(--main-color);
    font-weight: 800;
}

section {
    padding: 40px 10% 40px 10%;
    margin: 0;
}

hr {
    margin: 0 auto;
    width: 80%;
    height: 1px;
    border: 0;
    background-color: #d9d6d6;
    margin: 25px 0;
}

/***********CUSTOM STYLES***************/
.nav {
    width: 100%;
    z-index: 6;
    font-weight: 300;
    transition: all 0.3s;
    height: auto;
    top: 0;
    position: absolute;
    transition: all .5s linear;
}

.topnav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 3%;
    margin: 0;
}

.topnav__item {
    margin: 0 1em 0 1em;
    padding: 1em 0 1em;
    height: 60px;
}

.topnav__link {
    text-decoration: none;
    color: #000000;
    transition: color 0.2s, background-color 0.2s, padding 0.2s ease-in;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.7em;
    text-shadow: 0px 0px 1px #cccccc;
}

.topnav__link:hover,
.topnav__link:focus,
.topnav__link:active {
    color: #000000;
    text-decoration: none;
}

.topnav__link::after {
    content: '';
    display: block;
    bottom: 3px;
    left: 0;
    height: 2px;
    width: 100%;
    /*------------ LINE COLOR*/
    background-color: #15c26b;
    transform-origin: right bottom;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
    -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
}

.topnav__link:active::after {
    background-color: var(--main-color);
}

.topnav__link:hover::after {
    transform-origin: left bottom;
    transform: scale(1, 1);
}

.icon-nav {
    position: absolute;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    text-align: left;
    line-height: 40px;
}

.logo__link {
    position: absolute;
    width: 40px;
    height: auto;
    clear: both;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    background-color: transparent;
    padding: 0 5px;
    color: #2e3d49;
}

/* ----------------------------------------------- */
.icon-nav__list-nav {
    display: flex;
    flex-direction: row;
    width: 260px;
    margin: 0;
    text-align: left;
}

.icon-nav__item {
    display: inline-block;
    margin-left: 15px;
    width: 40px;
    height: 40px;
}

.icon-nav__btn {
    display: inline-block;
    position: relative;
    height: 40px;
}

.icon-nav__img {
    height: 40px;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 50%;
    transition: all 0.3s linear;
}

.icon-nav__img:hover {
    opacity: 0;
}

.icon-nav__txt {
    height: 40px;
    width: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    font-weight: 700;
    text-decoration: none;
    color: white;
    z-index: -1;
    background-color: var(--main-color);
    border-radius: 50%;
    border: 1px solid white;
}

.icon-nav__icon {
    height: 40px;
    width: 40px;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 50%;
    color: #2e3d49;
}

.icon-nav__icon:hover {
    color: white;
    background-color: var(--main-color);
    border: 1px solid white;
}

.icon-nav__logo {
    height: auto;
    width: 40px;
}

.logo__img {
    height: 40px;
    position: absolute;
    width: auto;
    transition: all 2s linear;
}

.logo__img:hover {
    transform: rotate(360deg);
}

/* -------------------- */
.topnav__item--btn {
    display: none;
}

.topnav__link--size {
    font-size: 25px;
    margin: auto;
    height: 60px;
}

.topnav__icon {
    line-height: 60px;
}

/* CLASS FROM JS ADD BG TO NAV AFTER SCROLL px */
.scrolling-two {
    background-color: rgb(255, 255, 255);
    height: auto;
    position: fixed;
    transition: all .5s linear;
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.31);
}

/*-------------MAIN HEADER*/
.header {
    position: absolute;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 11;
    /* transform-style: preserve-3d; */
    line-height: 50px;
    /* pointer-events: initial; */
}

.curtain__container--sides {
    margin: 0;
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
}

.curtain__name-container {
    left: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    font-size: 48px;
    text-align: right;
}

.curtain__welcome-container {
    left: 50%;
    text-align: left;
    font-size: 32px;
    font-weight: 300;
}

.curtain__wc-span {
    font-size: 56px;
    text-align: right;
}

.curtain__first_col,
.curtain__wc-span {
    font-weight: 500;
    color: var(--main-color);
}

.click-btn {
    visibility: hidden;
    height: 0;
}

/* ----------------------TEXT SLIDER*/
.curtain__first_col {
    box-sizing: border-box;
    height: 1em;
    margin: 0;
    text-align: right;
    right: 0;
    width: 100%;
}

.curtain__list {
    position: relative;
    list-style: none;
    right: 0;
}

.curtain__li-items {
    font-size: 60px;
    line-height: 1.2em;
}

.curtain__sec_col {
    margin: 0;
    font-size: 0.8em;
    font-weight: 300;
}

.curtain__figure {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 300px;
    width: 400px;
    z-index: 18;
    margin: 0;
}

.curtain__figure--left {
    right: 0;
}

.curtain__figure--right {
    left: 0;
}

.curtain__figure-img {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
}

.curtain__figure-img--right {
    left: 0%;
}

.curtain__figure::before {
    content: "";
    position: absolute;
    width: 250%;
    height: 250%;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    background-image: url(../img/smoke4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.3;
}

.curtain__figure--right::before {
    left: -5%;
}

.name-container--mobile {
    display: none;
}

/* SIDES BLOCKS */
.curtain {
    position: fixed;
    /* width: 100vw; */
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    /* filter: blur(5px); */
    /* background-color: rgba(21, 194, 107, 0.5); */
}

.curtain__half {
    height: 100vh;
    width: 50%;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 9;
    transition: all 0.3s linear;
}

.block-shadow {
    -webkit-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.46);
}

.curtain__half--left {
    left: 0;
    /* transform: translateX(-100%); */
    background: -moz-linear-gradient(left, rgb(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgb(250, 250, 250, 1)), color-stop(23%, rgba(250, 250, 250, 1)), color-stop(79%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(left, rgb(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: -o-linear-gradient(left, rgb(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: -ms-linear-gradient(left, rgb(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: linear-gradient(to right, rgb(238, 236, 236) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(250, 250, 250, 1) 100%);
    -webkit-font-smoothing: antialiased;
}

.curtain__half--right {
    right: 0;
    /* transform: translateX(100%); */
    background: -moz-linear-gradient(left, rgb(250, 250, 250) 0%, rgba(250, 250, 250) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgb(250, 250, 250)), color-stop(23%, rgba(250, 250, 250, 1)), color-stop(79%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(left, rgb(250, 250, 250) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: -o-linear-gradient(left, rgb(250, 250, 250) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: -ms-linear-gradient(left, rgb(250, 250, 250) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    background: linear-gradient(to right, rgb(250, 250, 250) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    -webkit-font-smoothing: antialiased;
}

/*-------------------ABOUT SECTION*/
.about {
    /* background-attachment: fixed;
    background-image: url(../img/destroyer.png);
    background-position: center; */
    min-height: 100vh;
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 60px 10% 60px 10%;
    z-index: 2;
    /* margin: 5% 0; */
    /* -webkit-box-shadow: 0px 4px 61px 24px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 4px 61px 5px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 4px 61px 5px rgba(0, 0, 0, 0.64); */
    /* background: -moz-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(23%, rgba(250, 250, 250, 1)), color-stop(79%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(to right, rgb(238, 236, 236) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    -webkit-font-smoothing: antialiased; */
    /* background-image: url(../img/aboutbg-new.jpg); */
    background: linear-gradient(to left, rgb(255, 255, 255, 0.0), rgb(255, 255, 255, 0.0)), url(../img/aboutbg-new.jpg);
    background-size: 60%;
    background-position: -10% bottom;
    background-repeat: no-repeat;


}

.about__header {
    flex: 1 100%;
}

.about__content {
    height: auto;
    flex: 1 50%;
    margin: 0 0 auto 0;
    padding: 0;
    position: relative;
}

.about__rotate-div {
    display: inline-block;
    position: relative;
    max-width: 400px;
    height: auto;
    -webkit-box-shadow: -3px 4px 25px -5px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -3px 4px 25px -5px rgba(0, 0, 0, 0.69);
    box-shadow: -3px 4px 25px -5px rgba(0, 0, 0, 0.69);
    transform: rotate(-5deg);
}

.about__my-img {
    width: 100%;
    max-height: auto;
    border: 20px solid white;
}

.about__content--right {
    text-align: justify;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.7em;
}

.about__content--right * {
    padding: 0;
    margin: 0;
}

.about__secret-slide {
    color: var(--main-color);
    position: relative;
    font-weight: 600;
    border-bottom: var(--main-color) solid 1px;
    cursor: pointer;
}

/*HIDE IMAGES*/
.about__hidden-images {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    height: 150px;
}

.about__hidden-images--position {
    top: 28%;
    left: 32%;
    transform: translate(-50%, -50%) scale(0);
}

.about__hidden-images--slide1 {
    background-image: url(../img/jim-carey-face.png);
}

.about__hidden-images--slide2 {
    background-image: url(../img/about_png/kapow.png);
}

.about__hidden-images--slide3 {
    background-image: url(../img/gifs/orc2_dance.gif);
    bottom: 0%;
    left: 0%;
    transform: rotate(-3deg) scale(0);
}

.about__hidden-images--slide4 {
    bottom: 99%;
    left: 30%;
    background-image: url(../img/gifs/tauren_dance.gif);
    transform: rotate(-3deg) scale(0);
}

.jimcarey {
    animation: bounce 6s;
}

.kabom {
    animation: kabom .8s;
}

.dance_orc {
    animation: danceOrc 10s;
}

.dance_tauren {
    animation: danceTauren 10s;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: .1
    }

    20% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }

    80% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
}

@keyframes kabom {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: .7
    }

    50% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1
    }

    100% {
        transform: translate(-50%, -50%) scale(2.3);
        opacity: 0
    }
}

@keyframes danceOrc {
    0% {
        transform: rotate(-3deg);
        opacity: 0;
        left: -40%
    }

    10% {
        transform: rotate(-3deg);
        opacity: 1;
        left: 0%
    }

    90% {
        transform: rotate(-3deg);
        opacity: 1;
        left: 0%
    }

    100% {
        transform: rotate(-3deg);
        opacity: 0;
        left: -40%
    }
}

@keyframes danceTauren {
    0% {
        transform: rotate(-3deg);
        opacity: 0;
        bottom: 90%
    }

    10% {
        transform: rotate(-3deg);
        opacity: 1;
        bottom: 99%
    }

    90% {
        transform: rotate(-3deg);
        opacity: 1;
        bottom: 99%
    }

    100% {
        transform: rotate(-3deg);
        opacity: 0;
        bottom: 90%
    }
}

/* ---------------------COURSES CERT SECTION*/
.cert {
    position: relative;
    height: auto;
    z-index: 1;
    background: url(../img/trees1.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 0.7s linear;
}

.cert__slider {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 1000px;
    /* left: 50%;
    transform: translateX(-50%); */
    margin: 40px auto;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

.cert__slider:hover {
    background-color: rgba(0, 0, 0, 0.486);
}

.slider__slider-side {
    flex: 1 50%;
    height: auto;
    margin: 0;
    padding: 2em 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__slider-side--img {
    height: 331px;
    width: auto;
    /* transition: transform 1s; */
    z-index: 2;
    /* cursor: zoom-in; */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.slider__image {
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0px 14px 29px 1px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 14px 29px 1px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 14px 29px 1px rgba(0, 0, 0, 0.59);
    border: 10px solid rgba(187, 187, 187, 0.582);
    z-index: 3;
}

.slider__img-list {
    min-height: auto;
    width: 240px;
}

.slider__img-list,
.slider__art-list {
    padding: 0;
}

.slider__item--fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 0.6s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

.slider__btn {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(214, 214, 214);
    padding: 3px;
    border-width: 0 4px 4px 0;
    background-color: rgba(255, 255, 255, 0);
    outline: 0;
    transition: all 0.2s linear;
}

.slider__btn:hover {
    border-color: var(--main-color);
}

.slider__btn--prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slider__btn--next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.slider__slider-side--article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cert__header-h2 {
    color: white;
}

.slider-art__header {
    color: var(--main-color);
    /* color: rgb(255, 255, 255); */
    text-shadow: 0px 0px 7px rgb(0, 0, 0);
    font-size: 1.6em;
    font-weight: 700;
}

.slider-art__par {
    font-size: 22px;
    line-height: 36px;
    color: white;
}

/*----------------------SKILLS SECTION*/
.skills {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 50px 18% 70px 18%;
    z-index: 2;
    /* overflow-x: hidden; */
    /* background: -moz-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(23%, rgba(250, 250, 250, 1)), color-stop(79%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
    background: -webkit-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -o-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: -ms-linear-gradient(left, rgba(242, 242, 242, 1) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgba(242, 242, 242, 1) 100%);
    background: linear-gradient(to right, rgb(238, 236, 236) 0%, rgba(250, 250, 250, 1) 23%, rgba(250, 250, 250, 1) 79%, rgb(238, 236, 236) 100%);
    -webkit-font-smoothing: antialiased; */
    /* -webkit-box-shadow: 0px -4px 61px 5px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px -4px 61px 5px rgba(0, 0, 0, 0.64);
    box-shadow: 0px -4px 61px 5px rgba(0, 0, 0, 0.64); */
}

.skills::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -29px;
    height: 30px;
    width: 100%;
    background-image: url(../img/clouda.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: left top;
}

.skills__bg {
    position: absolute;
    overflow: hidden;


    /* background-position: center; */
}

.skills__bg--image1 {
    background: linear-gradient(to left, rgb(255, 255, 255, 0.0), rgb(255, 255, 255, 0.0)), url(../img/skills-bg1.jpg);
    background-position: 105% center;
    /* background-origin: content-box; */
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 600px;
    right: 0;
    top: 30%;
    z-index: -1;
}

.skills-cont {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.skills-cont__row {
    padding: 0;
    height: auto;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills-cont__icons {
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.skills-cont__icons::before,
.skills-cont__icons::after {
    content: '';
}

.skills-cont__about {
    height: auto;
    flex: 1 100%;
    position: relative;
    font-size: 22px;
}

.skills-cont__header {
    color: var(--main-color);
}

.skills-cont__par {
    line-height: 1.7em;
}

.skills-cont__img-icons {
    width: 100px;
    height: auto;
    margin: 0 2em;
    align-self: center;
    flex: 0 1 auto;
}

.skills-cont__lineone {
    margin-bottom: 30px;
}

.skills hr {
    width: 50%;
}

/*--------------------PROJECTS SECTIONS*/
.projects {
    height: auto;
    padding: 40px 0 0 0;
    margin: auto;
    color: #111111;
    /* background-color: white; */
    position: relative;
    /* -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.41);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.41); */
    z-index: 1;
    
}

.projects::before {
    content: "";
    position: absolute;
    left: 0;
    top: -29px;
    height: 30px;
    width: 100%;
    background-image: url(../img/clouda.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: left top;
    transform: scaleY(-1);
}

.projects__bg {
    position: absolute;
    background-size: auto;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-image: url(../img/project-bg1.jpg);
    background-position: left;
    /* background-origin: content-box; */
    width: 100%;
    height: 1100px;
    left: 0;
    top: 15%;
}

.projects_header {
    color: rgb(46, 61, 73);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.212);
}

.projects hr {
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
    align-self: center;
}

.projects__container {
    width: 1040px;
    margin: auto;
    padding: 20px 0;
    position: relative;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}



.card__about {
    flex: 0 1 50%;
    text-align: left;
}

.card__list {
    list-style: none;
    padding: 0;
    font-weight: 300;
}

.card__li-item {
    display: inline-block;
    margin-bottom: 5px;
    width: auto;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.719);
    color: #202020;
    border: 1px solid #00000044;
    border-radius: 5px;
}

.card__btn {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: white;
    background-color: #15c26b;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.38);
    transition: all 0.3s linear;
}

.card__btn:hover {
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
}

.card__img-project,
.card__about {
    align-self: center;
}

.card__img-project {
    flex: 0 1 50%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card__image {
    width: auto;
    height: 100%;
    align-self: flex-end;
}

.card__image--myportfolio {
    width: 100%;
    height: auto;
    align-self: center;
}

/* --------------------------------- */
.projects__container__second {
    display: flex;
    flex-direction: row;
    /* margin-top: 5px; */
    z-index: 0;
}

.card {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
}

.card--long {
    width: 100%;
    height: 400px;
    position: relative;
    /* margin-bottom: 10px; */
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.card--short {
    flex-direction: column;
    flex: 0 1 33.3%;
    min-height: 300px;
    padding: 10px;
    position: relative;
    margin: 10px 0;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 36px 3px rgba(0, 0, 0, 0.4);
}

.card--short:nth-child(2) {
    margin: 10px 20px;
}

.card--short .cardx-about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
    /* background-color: white; */
}

.card__header {
    display: inline-block;
    color: var(--main-color);
    font-size: 26px;
    margin: 20px 0 5px 0;
    padding: 0;
    border-radius: 5px;
}

.card_par--small {
    margin: 5px 0;
    font-size: 15px;
    font-weight: 300;
}

.card__list--small {
    margin: 15px 0 15px 0;
}

.card__links {
    margin-bottom: 15px;
}

/*---------------------CONTACT*/
.contact {
    height: auto;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)), url(../img/forestxcx.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.contact__sec-header {
    font-weight: 300;
    font-size: 2em;
    margin: 1em 0 0;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 2px rgb(0, 0, 0,0.5);
}

.address__par {
    padding: 10px;
    margin: 0;
}

.address__link {
    font-style: normal;
    color: var(--main-color);
    transition: all 0.3s linear;
}

.address__link:hover {
    color: var(--main-color);
}

.social-icons {
    width: 180px;
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    height: 42px;
    line-height: 1em;
}

.social-icons__link {
    color: rgb(255, 255, 255);
    padding: 0;
    transition: all 0.5s;
    width: 42px;
    height: 42px;
}

.social-icons__ico {
    line-height: 0.8em;
    transition: all 0.3s linear;
}

.social-icons__ico:hover {
    color: var(--main-color);
}

.contact__par {
    color: #ffffff;
}

.form {
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form__input {
    width: 100%;
    min-width: 250px;
    margin: 10px 0;
    height: 3em;
    background-color: rgb(255, 255, 255, 0.8);
    border: 0;
    border-left: 1px solid #414345;
    border-top: 1px solid #414345;
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    color: rgb(0, 0, 0);
    padding: 15px;
}

.form__input--textarea {
    height: 100px;
}

.form__input:focus {
    background-color: #e2e2e2;
}

.form__input--submit {
    width: 250px;
    height: 70px;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 800;
    transition: all 0.3s linear;
}

.form__input--submit:hover {
    cursor: pointer;
    color: var(--main-color);
    background-color: #414345;
    border: 2px solid var(--main-color);
}

.contact hr {
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: 25px 0;
}

/*-----FOOTER COPYRIGHTS*/
.copyrights {
    position: relative;
    z-index: 2;
    padding: 4px 10% 4px 10%;
    margin: 0;
    background-color: #171717;
    color: #ffffff;
}