/*-----------------main style*/
*{
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 0;
    padding: 0;
    /*background-color: #343840;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Rock Salt', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    background-color: #f2f2f4;
}
h2 {
    font-size: 2.5em;
    color: rgb(32, 8, 8);
    margin: 1em;
    padding: 0;
}
section{
    padding: 40px 10% 40px 10%;
    margin: 0;
}
hr {
    margin: 0 auto;
    max-width: 80%;
    height: 1px;
    border: 0;
    background-color: #d9d6d6;
    
}
/*-------------navigation styles*/
nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    font-weight: 300;
    transition: top 0.3s;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 3%;
    margin: 0;
}
nav ul li {
    margin: 0 1em 0 1em;
    padding: 1em 0 1em;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s,background-color 0.2s,padding 0.2s ease-in;
    font-size: 1.1em;
    text-shadow: 1px 1px 2px rgb(42, 42, 42);
    
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    color: #ffffff;
    text-decoration: none;
    
}
nav ul li a::after {
    content: '';
    display: block;
    bottom: 3px;
    left: 0;
    height: 2px;
    width: 100%;
    /*------------ LINE COLOR*/
    background-color: #c30f16;
    transform-origin: right bottom;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
    -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
    
}
nav ul li a:active::after {
    background-color: #950006;
    
}
nav ul li a:hover::after, a:focus::after {
    transform-origin: left bottom;
    transform: scale(1, 1);
    
}
nav .logonav{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    text-align: center;
}
#logonav{
    width: 100%;
    height: 100%;
    clear: both;
    display: inline-block;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    color: rgb(0, 0, 0);
}
nav ul li:last-child{
    display: none;
}
nav .topnav .icon {
    font-size: 25px;
}

nav.scrolling{
    background-color: rgba(59, 59, 59, 0.79);
    height: 60px;
    position: fixed;
    transition: all .5s;
    z-index: 9999;
}
/*-------------MAIN HEADER*/
#header {
    position: relative;
    height: 100vh;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/night-owl-man-working-on-computer-at-night-picjumbo-com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    z-index: 1;
}
#header #name-container{
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    color: #ffffff;
    background-color: rgba(77, 77, 77, 0.29);
}

#header #name-container .first_col, .th_col{
    margin: 0;
    flex: 1 30%;
    text-align: right;
}
#header #name-container .sec_col, .four_col{
    margin: 0;
    font-size: 1em;
    font-weight: 300;
    box-sizing: border-box;
    flex: 1 70%;
    text-align: left;
    padding: 0 0 0 0.2em;
}
#header #name-container .sec_col span {
    color: #b72c19;
    font-weight: 300;
}
#header #name-container .four_col{
    margin: 1em 0 0 0;
}

/* ----------------------TEXT SLIDER*/
#header #name-container .first_col{
    box-sizing: border-box;
    height: 1em;
    overflow: hidden;
    color: #b72c19;
    font-weight: 700;
}
#header #name-container .first_col ul{
    position: relative;
    list-style: none;
    right: 0;
}
/*-------------------ABOUT SECTION*/

#about{
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap; 
    padding: 40px 10% 60px 10%;
    
}
#about > h2{
    flex: 1 100%;
    
}
#about .about-content{
    flex: 1 50%;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

#about figure .rotate-div{
    /*max-height: 450px;*/
    display: inline-block;
    position: relative;
	max-width: 400px;
    max-height: 100%;
    /*border: 20px solid white;*/
    -webkit-box-shadow: -3px 4px 25px -5px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -3px 4px 25px -5px rgba(0, 0, 0, 0.69);
    box-shadow: -3px 4px 25px -5px rgba(0, 0, 0, 0.69);
    transform: rotate(-5deg);
    /*text-align: center;*/
}
#about figure .rotate-div img{
    width: 100%;
    max-height: 100%;
    border: 20px solid white;
}

.about-right {
    text-align: left;
    font-size: 1.8em;
    
}
.about-right * {
    padding: 0;
    margin: 0;
}

#about .secret-slide{
    color: #b72c19;
    position: relative;
    font-weight: 600;
    border-bottom: #ffb5ab solid 1px;
}

#about span{
    cursor: pointer;
}
/*HIDE IMAGES*/
.hidden-images{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 1s ease; 
    position: absolute;
    width: 100%;
    height: 150px;
    transition: all 2s;
}
.position1{
    top: 28%;
    left: 32%;
    transform: translate(-50%, -50%) scale(0);
}
#img-slide1{
    background-image: url(../img/jim-carey-face.png);  
}
#img-slide2{
    background-image: url(../img/about_png/kapow.png);
}
#img-slide3{
    background-image: url(../img/gifs/orc2_dance.gif); 
    bottom: 0%;
    left: 0%;
    transform: rotate(-3deg) scale(0) ;
}
#img-slide4{
    bottom: 99%;
    left: 30%;
    background-image: url(../img/gifs/tauren_dance.gif);
    transform: rotate(-3deg) scale(0);
}
.jimcarey{
    animation: bounce 6s;
}
.kabom{
    animation: kabom .8s;
}
.dance_orc{
    animation: danceOrc 10s;
}
.dance_tauren{
    animation: danceTauren 10s;
}
@keyframes bounce {
  0% { transform: translate(-50%, -50%) scale(0.5); opacity: .1 }
  20% { transform: translate(-50%, -50%) scale(1); opacity: 1 }
  80% { transform: translate(-50%, -50%) scale(1); opacity: 1 }
}
@keyframes kabom {
  0% { transform: translate(-50%, -50%) scale(0.5); opacity: .7 }
    50% { transform: translate(-50%, -50%) scale(1.5); opacity: 1 }
  100% { transform: translate(-50%, -50%) scale(2.3); opacity: 0 }
}
@keyframes danceOrc {
  0% { transform: rotate(-3deg); opacity: 0; left: -40% }
    10% { transform: rotate(-3deg); opacity: 1; left: 0% }
    90% { transform: rotate(-3deg); opacity: 1; left: 0% }
  100% { transform: rotate(-3deg); opacity: 0; left: -40% }
}
@keyframes danceTauren {
  0% { transform: rotate(-3deg); opacity: 0; bottom: 90%  }
    10% { transform: rotate(-3deg); opacity: 1; bottom: 99%  }
    90% { transform: rotate(-3deg); opacity: 1; bottom: 99%   }
  100% { transform: rotate(-3deg); opacity: 0; bottom: 90%  }
}
/* ---------------------COURSES CERT SECTION*/
#cert{
    height: auto;
}
#cert .cert-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20%;
}
#cert .slider-side{
    flex: 1 50%;
    height: auto;
    margin: 0;
    padding: 0 0 2em 0;
    display: flex;
    justify-content: center;
    align-items:center;
}
#cert #my-image-slider{
    height: 320px;
    width: 240px;
    transition: transform 1s;
    z-index: 2;
    cursor: zoom-in;
}

#cert #my-image-slider img {
    height: 100%;
    width: 100%;
    -webkit-box-shadow: -6px 10px 27px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 10px 27px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 10px 27px -10px rgba(0, 0, 0, 0.75);
    border: 10px solid #d8d8d8;
}
#cert #my-image-slider:active{
    transform: scale(1.7);
    z-index: 2;
    cursor:zoom-out;
}
#cert #my-image-slider .opacImg,
#cert #slider-article h3,
#cert #slider-article p{
    animation: show 1s; 
}
@keyframes show{
    from{opacity: 0;}
    to{opacity: 1;}
}
#cert button {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    padding: 3px;
    border-width: 0 4px 4px 0;
    background-color: rgba(255, 255, 255, 0);
    outline: 0;
    
}
#cert button:hover{
    border-color:red;
    
}
#cert button#prev {
     transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
#cert button#next {
     transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#cert #slider-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
}
#cert article > h3{
    color: #b72c19;
    font-size: 1.5em;
}
#cert article > p{
    /* width: 80%; */
    color: #686f72;
    font-size: 1.2em;
}
/*----------------------SKILLS SECTION*/
#skills {
    height: auto;
    padding: 40px 15%;
    
}
#icons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
#icons-container .icons{
    padding: 2em 0;
    flex: 1 21%;
}
#icons-container .img-icons{
    width: auto;  
    height: 130px;
}
/*--------------------PROJECTS SECTIONS*/
#projects{
    height: auto;
    padding: 40px 5% 60px 5%;
}

.project-container {
	position: relative;
	clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;	
    overflow: hidden;
}
.hero-grid {
  position: relative;
  overflow: hidden;
  background: rgba(29, 29, 29, 0.856);
  cursor: pointer;
  margin: 10px;
  max-width: 300px;
  max-height: 333px;
}

.hero-grid-image {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.hero-grid-content {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
    
}

.hero-grid-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
    
}

.hero-grid-title {
  letter-spacing: -1px;
  font-weight: 300;
  margin: 0;
  padding: 0.25em 0;
  line-height: 1;
  color: #d6d6d6;
}

.hero-tag {
  display: inline-block;
  font-size: 1.6em;
  padding: .2em;
  /*background: #b72c19;*/
  color: #b72c19;
    font-weight: 300;
    border-bottom: 1px solid #b72c19;
    
}

.hero-grid p {
  letter-spacing: 1px;
  font-size: 68.5%;
  height: 2.25em;
  overflow: hidden;
    
}

.effect-image {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.2;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.effect-target {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.effect-target {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.effect-text {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

.effect-move:hover .effect-image,
.effect-move:hover .effect-text{
  opacity: 1;
}
.effect-move:hover .hero-grid-title{
    color: black;
}
.effect-move:hover .hero-tag{
    background-color: #ffffff;
    color: black;
    border-bottom: 1px solid red;
    transition: all .35s;
}
.effect-move:hover .effect-target,
.effect-move:hover .effect-image {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.effect-move:hover .effect-text {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/*---------------------CONTACT*/
#contact{
    height: auto;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#contact > * {
    margin: 0;
    color: #fff;
}
#contact h3{
    font-weight: 300;
    font-size: 2em;
    margin: 1em 0 0;
}
#contact address p{
    padding: 10px;
    margin: 0;
}
#contact address p a{
    /*text-decoration: none;*/
    font-style: normal;
    color: #ffffff;
}
#contact .social-icons{
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
    height: 1.4em;
    line-height: 1em;
    /*display: inline-block;*/
    
}
#contact .social-icons a{
    color: #9f9f9f;
    padding: 0;  
    transition: all 0.5s;
}
#contact .social-icons i{
    line-height: 0.8em;
}
#contact .social-icons a:hover i{
    color: #fff;
    -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
}
form{
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*align-items: stretch;*/
    flex-wrap: wrap;
    
}
form > *{
    width: 100%;
    min-width: 250px;
    padding: 2px;
    margin: 10px 0;
    height: 3em;
}
form textarea {
    height: 100px;
}
#contact form input, #contact form textarea{
    background-color: #454545;
    border: 0;
    outline: 0;
    color: #fff;
    /*border-bottom: 1px solid red;*/
}
form input::placeholder, form textarea::placeholder{
    font-family: 'Lato', sans-serif;
}
#contact form>*:focus {
    border-bottom: 1px solid red;
}
#contact input[type="submit"] {
    width: 250px;
    height: 70px;
	background-color: #9f9f9f;
	border: none;
	color: #000000;
	text-transform: uppercase;
    font-size: 1.3em;
	transition: all 0.3s;
}


#contact input[type="submit"]:hover {
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
box-shadow: 0px 0px 39px -6px rgba(255, 255, 255, 0.75);
}
#contact hr{
    background-color: #8d8d8d;
    width: 600px;
    margin: 25px 0; 
}
/*-----FOOTER COPYRIGHTS*/
.copyrights
{
    padding: 4px 10% 4px 10%;
    margin: 0;
    background-color: #171717;
    color: #b72c19;
}